<audio id="sound1" src="img/heavy-rain-nature-sounds-8186.mp3" preload="auto" loop autoplay></audio>
<div id="contact">
    <div class="container">
        <h1 class="sub-title">Contact Image</h1>
        <div class="Work-List" onclick="document.getElementById('sound1').play()">
            <div class="work">
                <img src="img/work-1.jpg" />
                <div class="layer">
                    <h3>Github</h3>
                    <p>The app connects to the talented people around the world.Download it from play store.</p>
                    <a href="https://github.com/180701127" target="_blank"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
        <div class="Work-List">
            <div class="Work">
                <img src="img/work-2.jpg" />
                <div class="layer">
                    <h3>Instagram_and_linkdin</h3>
                    <p>The app connects to the talented people around the world.Download it from play store.</p>
                    <a href="https://instagram.com/gi_rish8446?igshid=OGQ2MjdiOTE=" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/nlk31052000/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="Work-List">
            <div class="Work">
                <img src="img/work-3.jpg" />
                <div class="layer">
                    <h3>Whatsapp</h3>
                    <p>The app connects to the talented people around the world.Download it from play store.</p>
                    <a href="https://whatsapp.com/dl/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact Me</h1>
                <p><i class="fa-duotone fa-paper-plane"></i>logkumRecipe@gmail.com</p>
                <p><i class="fa-solid fa-phone"></i>6379448112</p>
                <div class="social-icons">
                    <a href="https://github.com/180701127" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="https://instagram.com/gi_rish8446?igshid=OGQ2MjdiOTE=" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/nlk31052000/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://whatsapp.com/dl/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                </div>
                <a href="img/Foods_Recipe" download class="btn btn2" target="_blank">Download Foods Recipe</a>
            </div>
        </div>
        <div class="contact-right">
            <form>
                <input type="text" name="Name" placeholder="Your Name" required />
                <input type="email" name="email" placeholder="Your Email" required />
                <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                <button type="submit" class="btn btn2">Submit</button>
            </form>
        </div>
    </div>
</div>

